 body{
    font-family: 'Spectral', serif;
    background: #275566;
 }
 
 
 
 header{
    display: block;
    text-align: center;
    background-image:  linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),  url("../images/nyc2.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 200px;
}
header p {
    font-size: 45px;
    font-weight: 400; 
    margin: 0 auto;
    line-height: 1;
    letter-spacing: 3px;;
  
}
header h1 {
    font-weight: 800;
    margin: 30px auto;
    font-size: 100px;
    line-height: 1.5;
    letter-spacing: 5px;
}
header h2 {
    font-size: 25px;
    font-weight: 300; 
    margin: 30px auto;
    line-height: 1;
    letter-spacing: 2px;
  
}
button {
    padding: 15px 20px;
    margin: 80px;
    border-radius: 8px;
    border: none;
    background: white;
    letter-spacing: 3px;;
}
main{
    background: white;
}

footer{
    background-image: linear-gradient(rgba(39, 85, 102, 0.9), rgba(39, 85, 102, 0.9)),  url("../images/nyc4.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
    color:  white;
    max-width: 1200px;
    margin: 0 auto;
}
footer a{
    text-align: center;
    color: rgb(203, 164, 239);
    text-decoration: none;
}
footer h3{
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2;
    line-height: 1;
    text-align: start;
}
footer p{
    font-size: 16px;
    font-weight: 100;
    line-height: 1;
    text-align: center;

}
footer li{
    list-style: none;
   
}
.nyc-one {
    max-width: 400px;
   
    border-radius: 8px;
    border: 5px solid black;
}
.main-section-one{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 50px;
    padding: 50px;
}
main h2{
    color: rgba(0, 0, 0, 0.4);
    padding: 20px;
}
main h3{
    padding: 20px;;
}
.main-section-two{
    background: #eaebed;
}
.section-two{
    text-align: center;
}
.card{
    background: white;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    padding: 20px;
}
.card-img{
    max-width: 150px;
}
.cards-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px; 
    padding: 25px; 
    
}
.grid{
    grid-template-columns: 1fr 1fr;
}

.card-button{
    background: #113355;
}
.card-link{
    color: white;
    text-decoration: none;
    letter-spacing: 3;
    text-transform: uppercase;
    padding: 16px;
    font-size: 12px;
}
.section-three{
    text-align: center;
}
.section-three-grid-one{
    display: flex;
    justify-content: space-around;
  
}
.section-three-img{
    max-width: 300px;
}
.section-three-grid-two{
    display: flex;
    justify-content: space-around;
    padding: 50px;
}
.info{
    color: white;
    text-align: center;
    padding: 15px;
}
.github-link{
    text-align: center;
    color: rgb(203, 164, 239);
    text-decoration: none;
   
}

.footer-wrap{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px; 
    padding: 25px; 
}
.facts a{
    text-decoration: none;
    color: black;
}
.hero{ max-width: 1200px;
    margin: 0 auto;
}
@media(max-width: 960px){
    header{
        padding: 50px 0;
    }
    p{
        font-size: 20px;
    }
    header h1{
        font-size: 50px;
        line-height: 1;
    }
    header h2{
        font-size: 20px;
    }
    button{
        margin: 5px;
    }
    .footer-wrap{
        display: block;
    }
    footer {
        text-align: center;
        padding: 10px;
    }
    footer h3{
        text-align: center;
        margin: 5px auto;
    }
    footer ul{
        align-items: center;
    }
   .nyc-one{
    max-width: 300px;
   }
   .main-section-one{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    padding: 20px;
    }
    .cards-grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        padding: 20px;
    }
    .card-link{
        letter-spacing: 1;
        padding: 12px;
    }
    .section-three{
        display: none;
        
    }
 
}